/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: DINWebPro-Light;
  src: url("fonts/DINWebPro-Light.eot");
  src: url('fonts/DINWebPro-Light.eot?#iefix') format('embedded-opentype'), url('fonts/DINWebPro-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: DINWebPro;
  src: url("fonts/DINWebPro.eot");
  src: url('fonts/DINWebPro.eot?#iefix') format('embedded-opentype'), url('fonts/DINWebPro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: DINWebPro;
  src: url("fonts/DINWebPro-Medium.eot");
  src: url('fonts/DINWebPro-Medium.eot?#iefix') format('embedded-opentype'), url("fonts/DINWebPro-Medium.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
html {
  height: 100%;
}
body {
  background: white;
  color: #000;
  font-family: Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  line-height: 1.48;
  font-size: 12px;
}
.flexWrapper {
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex: 1;
  flex: 1;
}
b {
  font-weight: bold;
  font-size: 12px;
}
a {
  font-family: Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #689600;
  text-decoration: none;
}
a:hover {
  color: #aabf2f;
}
ul {
  list-style: none;
  margin: 15px 0;
  padding: 0;
}
ul li:before {
  color: #689600;
  font-size: 10px;
}
ul li {
  margin: 7px 0 0 0;
}
.icon {
  color: #689600;
}
.sticky-container {
  position: fixed;
  z-index: 1000;
  width: 100%;
  background: white;
}
.sticky-container .logo {
  padding: 9px 0 5px;
  background-color: #689600;
}
.sticky-container .logo object {
  margin: 0 0 0 16px;
  width: 130px;
}
.sticky-container .container {
  margin: 15px auto 0;
  width: 900px;
  max-width: 80%;
}
.sticky-container .container .header {
  border-left: 1px solid #689600;
  height: 92px;
  margin: 37px 0 8px 0;
}
.sticky-container .container .header .mgnl-icon {
  position: relative;
  color: #689600;
  font-size: 50px;
  top: -7px;
  left: -58px;
}
.sticky-container .container .header h1 {
  position: relative;
  font-family: DINWebPro-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 30px;
  margin: 0 0 0 15px;
  top: -50px;
}
.sticky-container .container .header h2 {
  position: relative;
  font-family: DINWebPro-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: #689600;
  margin: 20px 0 0 16px;
  top: -53px;
}
.sticky-container .container .header .square {
  position: relative;
  width: 14px;
  height: 14px;
  background: white;
  bottom: 50px;
  left: 11px;
  transform: rotate(45deg);
}
.page {
  background: #EFEFEF;
  margin: 193px 0 0 0;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
.page .container {
  margin: 0 auto;
  width: 900px;
  max-width: 80%;
}
.page .container p {
  margin: 29px 0 0 17px;
}
.page .container section h3 {
  color: #689600;
  padding: 23px 0 6px 17px;
  font-family: DINWebPro-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  border-bottom: 1px solid #689600;
  margin: 24px 0 10px 0;
}
.page .container section .square {
  position: relative;
  width: 14px;
  height: 14px;
  background: #EFEFEF;
  bottom: 18px;
  left: 11px;
  transform: rotate(45deg);
  border-right: 1px solid #689600;
  border-bottom: 1px solid #689600;
}
.page .container section:last-of-type {
  border-bottom: none;
}
.page .container section b {
  margin: 0 0 0 17px;
}
.page .container section ul {
  margin-left: 15px;
}
.page .container section p {
  margin: 14px 0 24px 17px;
  line-height: 19px;
}
.page .container section p.instances {
  margin-top: 0px;
  padding-left: 17px;
}
.page .container section p.conclude {
  margin: 0 0 0 17px;
}
.page .container section p.conclude b {
  margin: 0;
}
.page .container .instances {
  float: left;
  margin: 20px 0 0 0;
}
.page .container .instances .instance {
  width: 45%;
  position: relative;
  padding: 0 24px 0 16px;
  border-left: 1px solid #689600;
}
.page .container .instances .instance.author {
  float: left;
}
.page .container .instances .instance.author h4 {
  font-weight: bold;
}
.page .container .instances .instance.author > .icon {
  font-size: 36px;
  margin: -2px 0 11px -5px;
}
.page .container .instances .instance.public {
  float: right;
}
.page .container .instances .instance.public h4 {
  font-weight: bold;
}
.page .container .instances .instance.public > .icon {
  font-size: 36px;
  margin: -2px 0 11px -5px;
}
.page .container .instances .instance b {
  margin: 0;
}
.page .container .instances .instance p {
  margin: 3px 0 0 0;
}
.page .container .instances .instance .note {
  color: #C1C1C1;
  margin: 23px 0 5px 0;
}
.page .container .instances .instance .links {
  margin-left: -2px;
}
.page .container .instances .instance .links span.icon {
  font-size: 18px;
  position: absolute;
  margin: 0 0 0 -3px;
}
.page .container .more-info {
  margin: 44px 0 0 20px;
}
.page .container .more-info .icon {
  font-size: 18px;
}
@media only screen and (max-width: 1025px) {
  .page .container .instances .instance {
    width: 43%;
  }
}
@media only screen and (max-width: 732px) {
  .page .container .instances .instance {
    width: 40%;
  }
}
@-moz-document url-prefix() {
  .sticky-container .container .header .square {
    bottom: 51px;
  }
  .page .container section .instances .instance .links .icon span.icon {
    margin: 0 0 0 4px;
  }
  .page .container .more-info .icon {
    font-size: 18px;
    margin: 0 0 0 -2px;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .sticky-container .container .header .square {
    bottom: 51px;
  }
}
.footer {
  padding: 79px 0 23px 0;
  text-align: center;
  background: #EFEFEF;
  color: #689600;
  font-size: 9px;
}
.footer .trademark {
  margin: 0 11px 0 0;
}
.footer .copyright {
  font-size: 11px;
}
@font-face {
  font-family: 'MagnoliaIcons';
  src: url('fonts/MagnoliaIcons.eot?em6rut');
  src: url('fonts/MagnoliaIcons.eot?em6rut#iefix') format('embedded-opentype'), url('fonts/MagnoliaIcons.ttf?em6rut') format('truetype'), url('fonts/MagnoliaIcons.woff?em6rut') format('woff'), url('fonts/MagnoliaIcons.svg?em6rut#MagnoliaIcons') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'MagnoliaIcons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-uniE000:before {
  content: "\e000";
}
.icon-uniE001:before {
  content: "\e001";
}
.icon-uniE002:before {
  content: "\e002";
}
.icon-uniE003:before {
  content: "\e003";
}
.icon-uniE004:before {
  content: "\e004";
}
.icon-uniE005:before {
  content: "\e005";
}
.icon-uniE006:before {
  content: "\e006";
}
.icon-uniE007:before {
  content: "\e007";
}
.icon-uniE008:before {
  content: "\e008";
}
.icon-uniE009:before {
  content: "\e009";
}
.icon-uniE00A:before {
  content: "\e00a";
}
.icon-uniE00B:before {
  content: "\e00b";
}
.icon-uniE00C:before {
  content: "\e00c";
}
.icon-uniE00D:before {
  content: "\e00d";
}
.icon-uniE00E:before {
  content: "\e00e";
}
.icon-uniE010:before {
  content: "\e010";
}
.icon-uniE011:before {
  content: "\e011";
}
.icon-uniE012:before {
  content: "\e012";
}
.icon-uniE013:before {
  content: "\e013";
}
.icon-uniE014:before {
  content: "\e014";
}
.icon-uniE015:before {
  content: "\e015";
}
.icon-uniE016:before {
  content: "\e016";
}
.icon-uniE017:before {
  content: "\e017";
}
.icon-uniE018:before {
  content: "\e018";
}
.icon-uniE019:before {
  content: "\e019";
}
.icon-uniE01A:before {
  content: "\e01a";
}
.icon-uniE01B:before {
  content: "\e01b";
}
.icon-uniE01C:before {
  content: "\e01c";
}
.icon-uniE01D:before {
  content: "\e01d";
}
.icon-uniE01E:before {
  content: "\e01e";
}
.icon-uniE01F:before {
  content: "\e01f";
}
.icon-uniE020:before {
  content: "\e020";
}
.icon-uniE021:before {
  content: "\e021";
}
.icon-uniE022:before {
  content: "\e022";
}
.icon-uniE023:before {
  content: "\e023";
}
.icon-uniE024:before {
  content: "\e024";
}
.icon-uniE025:before {
  content: "\e025";
}
.icon-uniE026:before {
  content: "\e026";
}
.icon-uniE027:before {
  content: "\e027";
}
.icon-uniE028:before {
  content: "\e028";
}
.icon-uniE029:before {
  content: "\e029";
}
.icon-uniE02A:before {
  content: "\e02a";
}
.icon-uniE02B:before {
  content: "\e02b";
}
.icon-uniE02C:before {
  content: "\e02c";
}
.icon-uniE02D:before {
  content: "\e02d";
}
.icon-uniE02E:before {
  content: "\e02e";
}
.icon-uniE02F:before {
  content: "\e02f";
}
.icon-uniE030:before {
  content: "\e030";
}
.icon-uniE031:before {
  content: "\e031";
}
.icon-uniE032:before {
  content: "\e032";
}
.icon-uniE033:before {
  content: "\e033";
}
.icon-uniE034:before {
  content: "\e034";
}
.icon-uniE035:before {
  content: "\e035";
}
.icon-uniE036:before {
  content: "\e036";
}
.icon-uniE037:before {
  content: "\e037";
}
.icon-uniE038:before {
  content: "\e038";
}
.icon-uniE039:before {
  content: "\e039";
}
.icon-uniE03A:before {
  content: "\e03a";
}
.icon-uniE03B:before {
  content: "\e03b";
}
.icon-uniE03C:before {
  content: "\e03c";
}
.icon-uniE03D:before {
  content: "\e03d";
}
.icon-uniE03E:before {
  content: "\e03e";
}
.icon-uniE03F:before {
  content: "\e03f";
}
.icon-uniE040:before {
  content: "\e040";
}
.icon-uniE041:before {
  content: "\e041";
}
.icon-uniE042:before {
  content: "\e042";
}
.icon-uniE043:before {
  content: "\e043";
}
.icon-uniE044:before {
  content: "\e044";
}
.icon-uniE045:before {
  content: "\e045";
}
.icon-uniE046:before {
  content: "\e046";
}
.icon-uniE047:before {
  content: "\e047";
}
.icon-uniE048:before {
  content: "\e048";
}
.icon-uniE049:before {
  content: "\e049";
}
.icon-uniE04A:before {
  content: "\e04a";
}
.icon-uniE04B:before {
  content: "\e04b";
}
.icon-uniE04C:before {
  content: "\e04c";
}
.icon-uniE04D:before {
  content: "\e04d";
}
.icon-uniE04E:before {
  content: "\e04e";
}
.icon-uniE04F:before {
  content: "\e04f";
}
.icon-uniE050:before {
  content: "\e050";
}
.icon-uniE051:before {
  content: "\e051";
}
.icon-uniE052:before {
  content: "\e052";
}
.icon-uniE053:before {
  content: "\e053";
}
.icon-uniE054:before {
  content: "\e054";
}
.icon-uniE055:before {
  content: "\e055";
}
.icon-uniE056:before {
  content: "\e056";
}
.icon-uniE057:before {
  content: "\e057";
}
.icon-uniE058:before {
  content: "\e058";
}
.icon-uniE059:before {
  content: "\e059";
}
.icon-uniE05A:before {
  content: "\e05a";
}
.icon-uniE05B:before {
  content: "\e05b";
}
.icon-uniE05C:before {
  content: "\e05c";
}
.icon-uniE05D:before {
  content: "\e05d";
}
.icon-uniE05E:before {
  content: "\e05e";
}
.icon-uniE05F:before {
  content: "\e05f";
}
.icon-uniE060:before {
  content: "\e060";
}
.icon-uniE061:before {
  content: "\e061";
}
.icon-uniE062:before {
  content: "\e062";
}
.icon-uniE063:before {
  content: "\e063";
}
.icon-uniE064:before {
  content: "\e064";
}
.icon-uniE065:before {
  content: "\e065";
}
.icon-uniE066:before {
  content: "\e066";
}
.icon-uniE067:before {
  content: "\e067";
}
.icon-uniE068:before {
  content: "\e068";
}
.icon-uniE069:before {
  content: "\e069";
}
.icon-uniE06A:before {
  content: "\e06a";
}
.icon-uniE06B:before {
  content: "\e06b";
}
.icon-uniE06C:before {
  content: "\e06c";
}
.icon-uniE06D:before {
  content: "\e06d";
}
.icon-uniE06E:before {
  content: "\e06e";
}
.icon-uniE06F:before {
  content: "\e06f";
}
.icon-uniE070:before {
  content: "\e070";
}
.icon-uniE071:before {
  content: "\e071";
}
.icon-uniE072:before {
  content: "\e072";
}
.icon-uniE073:before {
  content: "\e073";
}
.icon-uniE074:before {
  content: "\e074";
}
.icon-uniE075:before {
  content: "\e075";
}
.icon-uniE076:before {
  content: "\e076";
}
.icon-uniE077:before {
  content: "\e077";
}
.icon-uniE078:before {
  content: "\e078";
}
.icon-uniE079:before {
  content: "\e079";
}
.icon-uniE07A:before {
  content: "\e07a";
}
.icon-uniE07B:before {
  content: "\e07b";
}
.icon-uniE07C:before {
  content: "\e07c";
}
.icon-uniE07D:before {
  content: "\e07d";
}
.icon-uniE07E:before {
  content: "\e07e";
}
.icon-uniE07F:before {
  content: "\e07f";
}
.icon-uniE080:before {
  content: "\e080";
}
.icon-uniE081:before {
  content: "\e081";
}
.icon-uniE082:before {
  content: "\e082";
}
.icon-uniE083:before {
  content: "\e083";
}
.icon-uniE084:before {
  content: "\e084";
}
.icon-uniE085:before {
  content: "\e085";
}
.icon-uniE086:before {
  content: "\e086";
}
.icon-uniE087:before {
  content: "\e087";
}
.icon-uniE088:before {
  content: "\e088";
}
.icon-uniE089:before {
  content: "\e089";
}
.icon-uniE08A:before {
  content: "\e08a";
}
.icon-uniE08B:before {
  content: "\e08b";
}
.icon-uniE08C:before {
  content: "\e08c";
}
.icon-uniE08D:before {
  content: "\e08d";
}
.icon-uniE08E:before {
  content: "\e08e";
}
.icon-uniE08F:before {
  content: "\e08f";
}
.icon-uniE090:before {
  content: "\e090";
}
.icon-uniE091:before {
  content: "\e091";
}
.icon-uniE092:before {
  content: "\e092";
}
.icon-uniE093:before {
  content: "\e093";
}
.icon-uniE094:before {
  content: "\e094";
}
.icon-uniE095:before {
  content: "\e095";
}
.icon-uniE096:before {
  content: "\e096";
}
.icon-uniE097:before {
  content: "\e097";
}
.icon-uniE098:before {
  content: "\e098";
}
.icon-uniE099:before {
  content: "\e099";
}
.icon-uniE09A:before {
  content: "\e09a";
}
.icon-uniE09B:before {
  content: "\e09b";
}
.icon-uniE09C:before {
  content: "\e09c";
}
.icon-uniE09D:before {
  content: "\e09d";
}
.icon-uniE09E:before {
  content: "\e09e";
}
.icon-uniE09F:before {
  content: "\e09f";
}
.icon-uniE0A0:before {
  content: "\e0a0";
}
.icon-uniE0A1:before {
  content: "\e0a1";
}
.icon-uniE0A2:before {
  content: "\e0a2";
}
.icon-uniE0A3:before {
  content: "\e0a3";
}
.icon-uniE0A4:before {
  content: "\e0a4";
}
.icon-uniE0A5:before {
  content: "\e0a5";
}
.icon-uniE0A6:before {
  content: "\e0a6";
}
.icon-uniE0A7:before {
  content: "\e0a7";
}
.icon-uniE0A8:before {
  content: "\e0a8";
}
.icon-uniE0A9:before {
  content: "\e0a9";
}
.icon-uniE0AA:before {
  content: "\e0aa";
}
.icon-uniE0AB:before {
  content: "\e0ab";
}
.icon-uniE0AC:before {
  content: "\e0ac";
}
.icon-uniE0AD:before {
  content: "\e0ad";
}
.icon-uniE0AE:before {
  content: "\e0ae";
}
.icon-uniE0AF:before {
  content: "\e0af";
}
.icon-uniE0B0:before {
  content: "\e0b0";
}
.icon-uniE0B1:before {
  content: "\e0b1";
}
.icon-uniE0B2:before {
  content: "\e0b2";
}
.icon-uniE0B3:before {
  content: "\e0b3";
}
.icon-uniE0B4:before {
  content: "\e0b4";
}
.icon-uniE0B5:before {
  content: "\e0b5";
}
.icon-uniE0B6:before {
  content: "\e0b6";
}
.icon-uniE0B7:before {
  content: "\e0b7";
}
.icon-uniE0B8:before {
  content: "\e0b8";
}
.icon-uniE0B9:before {
  content: "\e0b9";
}
.icon-uniE0BA:before {
  content: "\e0ba";
}
.icon-uniE0BB:before {
  content: "\e0bb";
}
.icon-uniE0BC:before {
  content: "\e0bc";
}
.icon-uniE0BD:before {
  content: "\e0bd";
}
.icon-uniE0BE:before {
  content: "\e0be";
}
.icon-uniE0BF:before {
  content: "\e0bf";
}
.icon-uniE0C0:before {
  content: "\e0c0";
}
.icon-uniE0C1:before {
  content: "\e0c1";
}
.icon-uniE0C2:before {
  content: "\e0c2";
}
.icon-uniE0C3:before {
  content: "\e0c3";
}
.icon-uniE0C4:before {
  content: "\e0c4";
}
.icon-uniE0C5:before {
  content: "\e0c5";
}
.icon-uniE0C6:before {
  content: "\e0c6";
}
.icon-uniE600:before {
  content: "\e600";
}
.icon-uniE601:before {
  content: "\e601";
}
.icon-uniE602:before {
  content: "\e602";
}
.icon-uniE603:before {
  content: "\e603";
}
.icon-uniE604:before {
  content: "\e604";
}
.icon-uniE605:before {
  content: "\e605";
}
.icon-uniE606:before {
  content: "\e606";
}
.icon-uniE607:before {
  content: "\e607";
}
.icon-uniE608:before {
  content: "\e608";
}
.icon-uniE609:before {
  content: "\e609";
}
.icon-uniE60A:before {
  content: "\e60a";
}
.icon-uniE60B:before {
  content: "\e60b";
}
.icon-uniE60C:before {
  content: "\e60c";
}
.icon-uniE60D:before {
  content: "\e60d";
}
.icon-uniE60E:before {
  content: "\e60e";
}
.icon-uniE60F:before {
  content: "\e60f";
}
.icon-open-node:before {
  content: "\e800";
}
.icon-close-node:before {
  content: "\e801";
}
.icon-resource-files-app:before {
  content: "\e802";
}
.icon-configuration-files-app:before {
  content: "\e803";
}
.icon-web-resources-app:before {
  content: "\e804";
}
.icon-rft-template:before {
  content: "\e805";
}
.icon-rft-configuration-file:before {
  content: "\e806";
}
.icon-rft-web-resource:before {
  content: "\e807";
}
.icon-from-jcr:before {
  content: "\e808";
}
.icon-from-fs:before {
  content: "\e809";
}
.icon-from-classpath:before {
  content: "\e80a";
}
.icon-definitions-app:before {
  content: "\e80b";
}
.icon-dt-generic-definition:before {
  content: "\e80c";
}
.icon-dt-subapp-definition:before {
  content: "\e80d";
}
.icon-dt-template-definition:before {
  content: "\e80e";
}
.icon-dt-dialog-definition:before {
  content: "\e80f";
}
.icon-dt-form-definition:before {
  content: "\e810";
}
.icon-dt-form-field-definition:before {
  content: "\e811";
}
.icon-cut:before {
  content: "\e812";
}
.icon-marker:before {
  content: "\e813";
}
.icon-open:before {
  content: "\e814";
}
.icon-close:before {
  content: "\e815";
}
.icon-leaf-node:before {
  content: "\e816";
}
.icon-reference-node:before {
  content: "\e817";
}
.icon-templating-app:before {
  content: "\e818";
}
.icon-connector:before {
  content: "\e900";
}
.icon-solution:before {
  content: "\e901";
}
.icon-extension:before {
  content: "\e902";
}
.icon-paid:before {
  content: "\e903";
}
.icon-free:before {
  content: "\e904";
}
.icon-unsupported:before {
  content: "\e905";
}
.icon-installation:before {
  content: "\e906";
}
.icon-welcome:before {
  content: "\e907";
}
.icon-author-instance:before {
  content: "\e908";
}
.icon-public-instance:before {
  content: "\e909";
}
